{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="login-container">
    <h1 class="login-heading">{% trans "Sign In" %}</h1>

    <p class="login-text">
        {% blocktrans %}Nice to see you again at Dive In! To add to the conversation or validate our humor by liking a post, please log in. If you haven't created an account yet, please <a class="login-link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>

    <form class="login-form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        
        {{ form.as_p|safe }}
        
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        
        <button class="login-button" type="submit">{% trans "Sign In" %} &raquo;</button>
    </form>
</div>
{% endblock content %}
