{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="signup-container">
  <h1 class="signup-heading">{% trans "Sign Up" %}</h1>

  <p class="signup-text">
    {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="signup-link">sign in</a>.{% endblocktrans %}
  </p>

  <form class="signup-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    
    {{ form.as_p|safe }}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    
    <button type="submit" class="signup-button btn-common">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>
{% endblock content %}
