{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <!-- Example usage in blog_home.html -->
{% for post in featured_posts %}
<div class="featured-post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <!-- Add other post details or formatting as needed -->
</div>
{% endfor %}


        <!-- Blog Entries Column -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img src="{% static 'images/diveinlogo.png' %}" alt="Dive Image" class="card-img-top">
                                <div class="overlay"></div>
                                <div class="author-info">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>

                            <hr />
                            <p class="card-text text-muted small">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- After the for loop -->
{% if forloop.counter|divisibleby:2 %}
</div> <!-- Close the previous row -->
<div class="row"> <!-- Open a new row -->
{% endif %}
{% endfor %}
<!-- End for loop -->

</div> <!-- Close container-fluid -->
</div> <!-- Close the row -->

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
{% endblock %}
