{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container mt-5">
  <!-- Hero Section -->
  <div class="jumbotron text-center bg-light-blue py-5 mb-4">
    <h1 class="display-4 text-dark-blue">{{ about.company_name }}</h1>
    <p class="lead text-dark-gray">Dedicated to excellence since {{ about.founding_date|date:"Y" }}</p>
  </div>

  <div class="row">
    <!-- Image Section -->
    <div class="col-md-4 text-center mb-4">
      <img src="{% static 'images/splash.jpg' %}" class="img-fluid rounded shadow-lg" alt="{{ about.company_name }}">
    </div>

    <!-- Content Section -->
    <div class="col-md-8">
      <!-- Mission Section -->
      <div class="bg-white p-4 rounded shadow-sm mb-4">
        <h4 class="text-dark-blue"><i class="fas fa-bullseye"></i> Our Mission</h4>
        <p class="text-dark-gray">{{ about.mission | linebreaks }}</p>
      </div>

      <!-- Offerings Section -->
      <div class="bg-white p-4 rounded shadow-sm mb-4">
        <h4 class="text-dark-blue"><i class="fas fa-gift"></i> What We Offer</h4>
        <p class="text-dark-gray">{{ about.offerings | linebreaks }}</p>
      </div>

      <!-- Additional Content Section -->
      <div class="bg-white p-4 rounded shadow-sm">
        <h4 class="text-dark-blue"><i class="fas fa-info-circle"></i> More About Us</h4>
        <p class="text-dark-gray">{{ about.content | linebreaks | safe }}</p>
      </div>
    </div>
  </div>

  <!-- Collaboration Request Form -->
  <div class="mt-10">
    <h2 class="text-2xl font-bold text-dark-blue">Request a Collaboration</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ collaborate_form|crispy }}
        <button type="submit" class="btn btn-primary mt-4">Send Request</button>
    </form>
</div>


  <!-- Footer Section -->
  <div class="row mt-4">
    <div class="col text-right">
      <p class="text-muted"><em>Last updated on: {{ about.updated_on|date:"F j, Y" }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}
